---
title: Hikari
layout: layout.jsx
---

<p>Hello. My name is <a href="https://codeberg.org/Mythra">Hikari Rhodes</a>. This is where you can find my writing.</p>

<p>These are all my posts:</p>

<ul>
  {% for post in search.pages("type=posts") %}
  <li><a href="{{post.data.url}}">{{ post.data.title }}</a></li>
  {% endfor %}
</ul>

<p>If you want to follow my feeds, configure your feed reader for one of the following URLs:</p>

<ul>
    <li><a href="/feed.xml">RSS</a></li>
    <li><a href="/feed.json">JSONFeed</a></li>
</ul>